(function () {
  'use strict';

  angular
    .module('<%= moduleName %>')
    .component('<%= prefixedComponentName %>', {
      template: '<div>{{vm.prop}}</div>',
      bindings: {
        prop: '<'
      },
      controller: Controller,
      controllerAs: 'vm'
    });

  /* @ngInject */
  function Controller() {
    var vm = this;

    _.assign(vm, {
      $onInit: onInit,
      $onChanges: onChanges
    });

    ////////////

    function onInit() {

    }

    function onChanges(changes) {
      if (changes.prop) {
        onPropChange();
      }
    }

    function onPropChange() {
      var prop = vm.prop;

      if (prop) {

      }
    }
  }
}());
