(() => {
  'use strict';

  angular.module('<%= moduleName %>').component('<%= prefixedComponentName %>', {
    template: `
      <div>{{vm.prop}}</div>
    `,
    bindings: {
      prop: '<'
    },
    controllerAs: 'vm',
    controller: Controller
  });

  function Controller() {
    'ngInject';

    const vm = this;

    _.assign(vm, {
      $onInit,
      $onChanges
    });

    ////////////

    function $onInit() {}

    function $onChanges(changes) {
      if (changes.prop) {
        onPropChange(vm.prop);
      }
    }

    function onPropChange(prop) {
      if (prop) {
        console.dir(prop);
      }
    }
  }
})();
