<ng-form
  class="<%= widgetConfigCssClassName %>"
  name="<%= widgetConfigFormName %>"
>
  <div class="form-group">
    <label translate>A widget config item</label>
    <input
      class="form-control"
      name="aWidgetConfigItem"
      ng-model="vm.config.aWidgetConfigItem"
    >
    <c8y-error-feedback
      field="<%= widgetConfigFormName %>.aWidgetConfigItem"
    >
    </c8y-error-feedback>
  </div>
</ng-form>
