(function () {
  'use strict';

  angular
    .module('<%= moduleName %>')
    .directive('<%= prefixedDirectiveName %>', <%= directiveName %>);

  function <%= directiveName %>() {
    const ddo = {
      template: `
        <div>{{vm.prop}}</div>
      `,
      scope: {
        prop: '<'
      },
      controllerAs: 'vm',
      controller: Controller,
      bindToController: true,
      link: linkFunc
    };

    return ddo;

    function linkFunc(scope, el, attrs, controller) {

    }
  }

  /* @ngInject */
  function Controller() {
    const vm = this;


  }
}());
